@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(183,222,237,1);
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(58,163,231,1) 23%, rgba(25,148,230,0.99) 29%, rgba(33,180,226,0.96) 51%, rgba(65,140,221,0.94) 65%, rgba(94,102,217,0.94) 78%, rgba(183,222,237,0.94) 100%);
}